<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <% if(error&&error.length>0){%>
      <div class="alert alert-danger" role="alert">
          <%=error%>
      </div>
      <%}%>
      <% if(success&&success.length>0){%>
      <div class="alert alert-success" role="alert">
          <%=success%>
      </div>
  <%}%>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Select Slots</h1>
            <div class="row">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope='col'>Trainer's Id </th>
                        <th scope='col'>Venue </th>
                        <th scope="col">Select</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% result.forEach(function(result){   %>
                      <tr>
                        <th scope="row"><%= result.id %></th>
                        <td><%= result.start_date %></td>
                        <td><%= result.start_time %></td>
                        <td><%= result.end_time %></td>
                       <td><%= result.trainer_id %></td>
                       <td><%= result.venue %></td>
                        <form id="slots" method="POST" action="/slots/<%=result.id%>">
                        <td><button type="submit" class="btn btn-warning">Select</button></td>
                        </form>
                      </tr>
                      <%  }); %>
                    </tbody>
                </table>                    
            </div>

            <hr>
        </div>
    </div>
</body>
</html>
